<%= render :partial => "/refinery/faqs/faqs/help" %>

<% content_for :body do %>
 <div id="faqs">
  <% @faqs.each do |faq| %>
    <% if faq.is_class? %>
      <h2 class="class"><%=raw faq.question %></h2>
    <% else %>
      <h3 class="question"><%=raw faq.question %></h3>
      <div class="answer">
        <%=raw faq.answer %>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>
<%= render '/refinery/content_page' %>

<div style="clear:both"></div>
	 </div>
</div>

<% content_for :javascripts do %>
<script>

$('.answer').hide();
$('h3').bind('click', function(){$(this).next().slideToggle();});

</script>
<% end %>

<% content_for :stylesheets do %>
<style>
h3{
	
	cursor: pointer;
	
}
</style>
<% end %>
