<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @skin_survey.user %>
</p>

<p>
  <b>Style:</b>
  <%= @skin_survey.style %>
</p>

<p>
  <b>Care:</b>
  <%= @skin_survey.care %>
</p>

<p>
  <b>Problems:</b>
  <%= @skin_survey.problems %>
</p>

<p>
  <b>Time:</b>
  <%= @skin_survey.time %>
</p>

<p>
  <b>Procedures:</b>
  <%= @skin_survey.procedures %>
</p>

<p>
  <b>Effects:</b>
  <%= @skin_survey.effects %>
</p>

<p>
  <b>Shortcomings:</b>
  <%= @skin_survey.shortcomings %>
</p>

<p>
  <b>Cost:</b>
  <%= @skin_survey.cost %>
</p>

<p>
  <b>Markets:</b>
  <%= @skin_survey.markets %>
</p>

<p>
  <b>Factors:</b>
  <%= @skin_survey.factors %>
</p>

<p>
  <b>Brands:</b>
  <%= @skin_survey.brands %>
</p>

<p>
  <b>Importance:</b>
  <%= @skin_survey.importance %>
</p>

<p>
  <b>Source:</b>
  <%= @skin_survey.source %>
</p>

<p>
  <b>Ways:</b>
  <%= @skin_survey.ways %>
</p>

<p>
  <b>Infos:</b>
  <%= @skin_survey.infos %>
</p>

<p>
  <b>Offline:</b>
  <%= @skin_survey.offline %>
</p>

<p>
  <b>Age:</b>
  <%= @skin_survey.age %>
</p>


<%= link_to 'Edit', edit_skin_survey_path(@skin_survey) %> |
<%= link_to 'Back', skin_surveys_path %>
